@import '../../style/media.scss';
@import '../../style/main.module.scss';

.retitle{
    font-size: 2em;
    // margin: 0 auto 10px;
    color : var(--color-text)
}
.overflowhidden{
    // width: min(1100px, 80vw);
    // // 모바일에서 이상하면 그냥 min빼버리기
    // overflow: hidden;
}
.reactflexbox{
    white-space: nowrap;
    display: flex;
    gap:24px;
    flex-wrap: nowrap;

    // max-width: 1100px;
    overflow-x: hidden;
    width: clamp(40%, 1100px, 90%);
    transition: all 1s;
    // overflow-x: auto;
    margin-bottom: 35px;
}
.reactwrap{
    // height: 920px;
    overflow-y: auto;
    background-color: var(--color-mainbackground);
}
.reactwraparticle{
    width: 350px;
    border: 1px solid var(--color-text);
    // box-shadow: 1px 1px 1px 1px black;
    transition: all 1s;
    padding: 3px;
}
.leftmargin{
box-sizing: border-box;
// margin-left: 15px;
overflow-x: auto;
padding-left: 2em;
padding-top: 2em;
width: 100%;
position: relative;
}
.listbtn{
    z-index: 2;
    position: relative;
    width: clamp(40%, 1090px, 90%);
    top : 180px;   
    font-size: 4em;
    font-weight: 100;
    font-family: monospace;

    .listbtnLeft {
        left : 10px;
        position: absolute;
        width: 1em;
        height: 1em;
        display: flex;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
    background-color: rgba(255, 255, 255, 0.781);
    cursor: pointer;
    }
    .listbtnRight{
        position: absolute;
        right: 15px;
        display: flex;
    background-color: rgba(255, 255, 255, 0.781);

        width: 1em;
        height: 1em;
        border-radius: 50%;
       
        justify-content: center;
        align-items: center;
        cursor: pointer;    
    }
    }    


.reactblogimg{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;  
    object-fit: cover;
    height: 250px;

}
.reacttitle{
    font-size: 1.2em;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color : var(--color-text);
}
.timeline{
    font-size: 0.9em;
    color : gray
}
// 3줄만 보여줄것임
.reactcontents{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.9em;
    padding-right:  5px;
    color : var(--color-text);
    box-sizing: border-box;

    /* 여러 줄 자르기 추가 스타일 */
    white-space: normal;
    line-height: 1.2;
    height: 3.6em;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.reactwrapa{
    transition: all 1s;
    &:hover{
       transform: translateY(-5px);
    }
}

@include tablet {
    .reactflexbox{
    margin-bottom: 35px;
    gap:20px;
    }
    .reactwraparticle{
        width: 250px;
       }
       
.reactblogimg{
    height: 180px;

}
}
@include mobile{
    .reactflexbox{
        margin-bottom: 35px;
        gap:20px;
        }
        .reactwraparticle{
            width: 200px;
           }
           
.reactblogimg{
    height: 150px;

}
}