@import '../../style/media.scss';
.retitle{
    font-size: 2em;
    margin: 0 auto 10px;
    max-width: 1100px;
}
.reactflexbox{
    display: flex;
    gap:24px;
    flex-wrap: nowrap;
    max-width: 1100px;
    overflow: hidden;
    margin-bottom: 35px;
    margin: auto;
}
.reactwraparticle{
    width: 350px;
    border: 1px solid black;
    // box-shadow: 1px 1px 1px 1px black;
    padding: 3px;
}
.leftmargin{
padding-left: 30px;
box-sizing: border-box;
// margin-left: 15px;
margin: 0 auto 50px;
position: relative;
}
.listbtn{
    z-index: 2;
    position: relative;
    width:100%;
    max-width: 1090px;
    top : 180px;   
    font-size: 4em;
    font-weight: 100;
    margin:0 auto;
    font-family: monospace;

    .listbtnLeft {
        left : 10px;
        position: absolute;
        width: 1em;
        height: 1em;
        display: flex;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
    background-color: rgba(255, 255, 255, 0.781);
    cursor: pointer;
    }
    .listbtnRight{
        position: absolute;
        right: 15px;
        display: flex;
    background-color: rgba(255, 255, 255, 0.781);

        width: 1em;
        height: 1em;
        border-radius: 50%;
       
        justify-content: center;
        align-items: center;
        cursor: pointer;    
    }
    }    


.reactblogimg{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;  
    object-fit: cover;
    height: 250px;

}
.reacttitle{
    font-size: 1.2em;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.timeline{
    font-size: 0.9em;
    color : gray
}
// 3줄만 보여줄것임
.reactcontents{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.9em;
    padding-right:  5px;
    box-sizing: border-box;

    /* 여러 줄 자르기 추가 스타일 */
    white-space: normal;
    line-height: 1.2;
    height: 3.6em;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.reactwrapa{
    &:hover .reactwraparticle{
        border: 1px solid red;
    }
}

@include tablet {
    .reactflexbox{
    max-width: 600px;
    gap:10px;
    overflow: hidden;
    margin-bottom: 35px;
    }
    .reactwraparticle{
        width: 300px;
       }
}