@import '../../../style/mixin.scss';
@import '../../../style/main.module.scss';
.flexbar {
    @include flex(row){
        gap:14px;
        font-size: .8em;
    }
}
.height{
    height: 36px;
    background-color: var(--color-background);
}
.appicon{
    width: 32px;
    margin: 0px 0px 0 10px ;
    @include flex(row){
        justify-content: center;
        align-items: center;

    }
}
.topma{
    &:not(:first-child):hover a{
        background-color: rgba(138, 49, 49, 0.392);
        border-radius: 5px;
        box-sizing: border-box
    }
    @include boxcenter ;
    
}
.linkcolor{
    padding-left: 3px;
    padding-right:3px;
    color:var(--color-text)
    
}
.headerline{
    position: fixed;
    width: 100vw;
    display: grid;
    z-index: 5;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    padding: 0 10px 0 0 ;
    border-bottom: 1px solid gray;
    .title{
        border: 1px solid var(--color-text);
        background-color: rgba(185, 185, 185, 0.214);
        padding:3px;
        margin: 2px auto;
        border-radius: 10px;
        width: max(180px, 70%);
        height: 2em;
        h1{font-size: 0.8em !important;
            color:var(--color-text)
        }
        @include boxcenter
    }
    .titleright{
        @include flex(row){
            margin-right: 20px;
            justify-content: end;
            align-items: center;           
        }
        a{
            display: inline-block;
            width: 1.5em;
            font-size: 0.8em;
            height: 1.5em;
            @include boxcenter;
            // border:1px dashed black;
            color: var(--color-text)
        }
    }
}