@import '../../../style/mixin.scss';
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@import '../../../style/main.module.scss';


.wrap{
    width: 50px;
    padding-top: 10px;
    background-color: var(--color-background);
    border-right: 1px solid gray;
    @include flex(row){
        justify-content: center;
    }
}
.flexbox{
    // width: 100%;


@include flex(column){
    gap: 5px;
}
    li{
        @include boxcenter;
        margin-top: 5px;
        &:hover{
            border-left : 2px solid red;
            background-color: rgba(107, 107, 107, 0.349);
        }
        &:hover span {
            color : var(--color-hovertextafter);
        }
        span{font-size: 30px;
        color : var( --color-hovertextbefore);

        }
    }
}
.relative{
    position: relative;
    &:hover .popup{
        display: block;
        z-index: 3;
    }
}
.relative:hover .popup{
    display: block;
    z-index: 3;
}
.popup{
    display: none;
    position: absolute;
    left :50px;
    background-color: var( --color-text);
    border: 1px solid gray;
    color:var(--color-background);
    font-size: 1em !important;
    white-space: nowrap;
    width: 150px;
    padding-left: 5px;

}