@import '../../../style/main.module.scss';
@import '../../../style/mixin.scss';
@import '../../../style/media.scss';
.full{
    border-right: 1px solid gray;
    // height: calc(100vh - 36px);
    background-color:var(--color-background) ;
    overflow: hidden;
    .top{
        height: 35px;
        font-weight: 200;
        display: flex;
        align-items: center;
        padding-left: 8px;
        font-size: 0.8em;
        color : var(--color-text)
    }
    details{
        padding-left: 8px;
        cursor: pointer;
        color : var(--color-text)
    }
    .flexbox{
        
        @include flex(column){
            margin-left: 10px;
            gap:10px;
        }
        li{
            cursor: pointer;
            position: relative;
            a{
                position: relative;
                z-index: 2;
            }
            &:hover .bggray{
                height: 1em;
                width: 175px;
                left: -18px;
                position: absolute;
                background-color: rgba(214, 59, 38, 0.281);
            }
            width: 100%;
            @include flex(row){
                align-items: center;
            }
            p{
                font-size: 0.9em;
            }
        }
    }
    .svg{
        width: 15px;
        height: 15px;
        margin-right: 5px;
    }
}
.font{
    font-size: small;
    font-weight: 300;
}

    @include mobile{
    .full{
        display: none;
    }
    }
