@import '../../../style/main.module.scss';
@import '../../../style/mixin.scss';
@import '../../../style/media.scss';
.full{
    width:  calc(100vw - 224px);
}
.bgc{
    height: calc(100vh - 61px);
    background-color:var(--color-mainbackground);
    @include flex(column){
        justify-content: center;
        align-items: center;
    }
    h1{
        
        font-size: 3.5em;
        margin-bottom: 15px;
    }
    h2{
        font-size: 1em;
        margin-bottom: 15px;
    }
    h1,h2,.btns{
        color:var(--color-text)
    }
    .btns{

        @include flex(row){
            justify-content: space-between;
            width: 360px;
           
        }
        button{
            border: 2px solid salmon;
            padding: 0.5em;
            &:hover{
                background-color: salmon;
            }
        }
    }
}
.img{
    width: 380px;
    opacity: 0.2;
}

@include tablet{
  .full{
    h1{
        
        font-size: 1.8em;
    }
    .btns{

        @include flex(row){
            width: 100%;
            font-size: 0.8em;
            justify-content: space-evenly;

           
        }
        button{
            border: 2px solid salmon;
            padding: 0.2em;
    
        }
    }
    }
    .img{
        width: 150px;
        opacity: 0.2;
    
    }

}

@include mobile{
    .full{
        width:  calc(100vw - 50px);
        h1{
        
            font-size: 1.5em;
        }
        h2{
            font-size: 0.8em;
            margin-bottom: 15px;
        }
        .btns{

            @include flex(row){
                justify-content: center;
                width: 100%;
                font-size: 0.8em;

               
            }
            button{
                &:not(:first-child){
                    display: none;
                }
                border: 2px solid salmon;
                padding: 0.2em;
                width: 200px;
        
            }
        }
    }
    .img{
        width: 150px;
        opacity: 0.2;
    }
    
}