@import '../../../style/mixin.scss';
@import '../../../style/media.scss';
.headimg{
    min-width: 250px;
    width : 30vw;
    height: 500px;
    margin-left:  10%;
    mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='200' height='182' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M64.786 181.4c-9.196 0-20.063-6.687-25.079-14.21L3.762 105.33c-5.016-8.36-5.016-20.9 0-29.259l35.945-61.86C44.723 5.851 55.59 0 64.786 0h71.055c9.196 0 20.063 6.688 25.079 14.211l35.945 61.86c4.18 8.36 4.18 20.899 0 29.258l-35.945 61.86c-4.18 8.36-15.883 14.211-25.079 14.211H64.786Z'/%3E%3C/svg%3E");
    mask-position : center;
    mask-size: contain;
    mask-repeat: no-repeat;
    object-fit: cover;
    filter: grayscale(1);
}   
.wrapbox{
    position: relative;
    @include flex(row){
        gap:50px
    }
    .profiletitle{
 
        display: flex;
        // background: #00000057;
        justify-content: center;
        align-items: center;
        // color: white;
        font-size: 3em;
        // text-align: center;
    }
}
@include tablet{
    .profiletitle{
        font-size : 2em !important;
    }
    .headimg{
        margin-left:  3%;
    }
}
@include mobile{
    .profiletitle{
        font-size : 1em !important;
    }
    .headimg{
        margin-left:  0;
        min-width: 150px;
    }
}
