@import '../../style/main.module.scss';
.mainwrap { 
    // overflow: scroll;
    position: absolute;
    // width: calc(100% - 230px);
    width: 100% ;
    height: calc(100% - 88px);
    overflow-x: auto;
    background-color:var(--color-mainbackground);
}