@import '../../style/mixin.scss';
@import '../../style/media.scss';
@import '../../style/main.module.scss';
.mainwrap { 
    height: calc(100vh - 63px);
    width: calc(100vw - 227px);
    overflow-x: hidden;
   background-color:var(--color-mainbackground);
   padding: 2em;
   box-sizing: border-box;
   counter-reset: line;
}

.countnum{
    position: relative;
    @include flex(row) {
        align-items: center
    }   ;
    &::before{
    color: grey;
    text-align: center;
    content: counter(line);
    counter-increment: line;
    margin-right: 1rem;
    min-width: 26px;
  
    font-size: 1.5em;
}
}
.flex{
    @include flex(row){
        gap : 10px
    }
}
.ltgt{
    color : gray;
    font-weight: bold;
    font-size: 1.5em;
}
.tagname{
    color :var(--tagname);
    font-size: 1.5em;
}
.attrib{
    color :var(--atrri);
    font-size: 1.5em;
}
.attval{
    color : var(--atval );
    font-size: 1.5em;
    &:hover .mypic{
        display: block;
    }
    .mypic{
        position: absolute;
        display: none;
        left:350px;
        top: -334px;
        width: 200px !important;
    }
}
.mleft{
    margin-left: 2em;
}
.mleft1{
    margin-left: 4em;}
.text{
    color :var(--color-text);
    font-weight: 200;
    font-size: 1.2em;
}

@include mobile{
    .mainwrap { 
        width: calc(100vw - 50px);
        padding: 0.5em;
    }
    .ltgt{
        font-weight: bold;
        font-size: 1em;
    }
    .tagname{
        font-size: 1em;
    }
    .attrib{
        font-size: 1em;
    }
    .attval{
     
        font-size: 1em;
        .mypic{
          
            left: 200px;
            top: -77px;
            height: 80px !important;
            width: 50px !important;
           
    
        }
    }
    .mleft{
        margin-left: 1em;
    }
    .mleft1{
        margin-left: 2em;}
    .text{
        color :var(--color-text);
        font-weight: 200;
        font-size: 1em;
    }
   
}